
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Georgia', serif;
    background-image: url('fondo.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #2c2c2c;
    padding: 20px;
  }
  

  .contenedor{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
    color: #555;
  }
  


  header {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #480994;
  }

  
  header h1 {
    font-size: 32px;
    margin-top: 10px;
  }
  
  header h2 {
    font-size: 20px;
    color: #7c5c90;
    letter-spacing: 1px;
  }
  

  .contenedor {
    display: flex;
    gap: 40px;
  }
  
  aside {
    width: 100px;
  }
  
  aside h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #49136a;
  }
  
  .barra-lateral li {
    margin-bottom: 10px;
  }
  
  .barra-lateral ol {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .barra-lateral a {

    color: #3c1b64;
    font-weight: bold;
    transition: color 0.3s;

  }
  
  .barra-lateral a:hover {
    color: #b5b7d2;
  }
  
  .contenido {

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: justify;
    color: #000000;


  }

  main {
    flex: 1;
  }


  main h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #3d2a91;
  }
  
  main p {
    margin-bottom: 12px;
    text-align: justify;
    font-size: 16px;
  }
